body{
  padding: 0;
  margin: 0;
  height: auto;
  width: 100vw;
  color: #0e0e0e;
  background: linear-gradient(180deg, #ede3e3, #fff2e4);
}

.white-mode {
  background: linear-gradient(160deg, rgb(14, 14, 14), rgb(14, 14, 14));
  color: #ddc4a4;
}

html{
  scroll-behavior: smooth;
}

.ColorTheme{
/*  background-color: lightgray;*/
  height: 20vw;
  width: 20vw;
  border: 0 solid white;
  box-shadow: 0 0 10px #0e0e0e;
  border-radius: 100%;
  color: #ede3e3;
  background-color: #0e0e0e;
  background-size: cover;
  transform: translate(-50%,-50%);
}

.ColorTheme:hover{
  box-shadow: 0 0 15px #0e0e0e;
  cursor: pointer;
  height: 21vw;
  width: 21vw;
  transition: height 0.3s linear, width 0.3s linear;
}

.white-mode .ColorTheme{
  color: #ede3e3;
  box-shadow: 0 0 25px white;
  background-color: #ede3e3;
}



/*Sommaire ---------------------------------------------------------------------------------------------------------*/

.Sommaire1 {
  position: fixed;
  top: 95vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  height: auto;
  width: calc(28vw + 24vh);
  z-index: 10;
}


/*Header -----------------------------------------------------------------------------------------------------------*/

.header{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;

  flex-direction: column;
  column-count: 2;
  align-items: start;
  justify-content: start;
  overflow: hidden;
}


.title{
  position: absolute;
  left: 45vw;
  top: 25vw;
  transform: translate(-50%, -50%);
  height: 10vw;
  width: 20vw;

  display: flex;
  justify-content: center;
  align-items: center;

  /*border: white 1px solid;*/
  /*font-size: 600%;*/
  font: 18vw "Corinthia", serif;
  color: #0e0e0e;
  text-shadow: 0 0 5px #ede3e3;
  font-weight: bolder;

  transition: text-shadow 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.title.visible{
  font-size: 21vw;
  text-underline: #0e0e0e;
  animation: title 1.5s ease infinite;

}

.white-mode .title{
  color: #ddc4a4;
  text-shadow: 0 0 25px #000000;
}

.white-mode .title.visible{
  font-size: 21vw;
  text-underline: #ddc4a4;
  animation: titleWhitemode 1.5s ease infinite;
}


.AnimScrolingBar{
  position: absolute;
  top: 75%;
  left: 95%;
  height: 8vw;
  width: 0.2vw;
  background-color: #0e0e0e;
  border: 0 solid #0e0e0e;
  border-radius: 15px;
}

.ScrolingBarInner{
  position: relative;
  height: 0.75vw;
  width: 0.75vw;
  border: 0 solid #0e0e0e;
  background-color: #ede3e3;
  border-radius: 15px;
  box-shadow: 0 0 10px #0e0e0e;
  transform: translate(-40%,-50%);
  animation: ScrolingBarAnimation 4s reverse ease-in infinite;
}

.white-mode .ScrolingBarInner{
  background-color: black;
  border: 1px solid white;
  box-shadow: 0 0 10px white;
  animation: ScrolingBarAnimation 4s reverse ease-in infinite;
}
.white-mode .AnimScrolingBar{
  background-color: #ede3e3;
  border: 0 solid #ede3e3;
}


.ScrollingBar {
  position: absolute;
  height: 6vh;
  width: 100vw;
  background-color: #0e0e0e;
  display: flex;
  justify-content: left;
  margin-top: 95vh;
  color: #ede3e3;
}

.ScrollDown{
  font-size: calc(2vh + 0.5vw);
  font-style: oblique;
  font-weight: bolder;
  position: relative;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scrollTextAnim 10s linear infinite;
}

.white-mode .ScrollingBar{
  background-color: #ede3e3;
  color: #0e0e0e;
}


/*About Me ---------------------------------------------------------------------------------------------------------*/

.AboutMe{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 1vw;
  overflow: hidden;
}



.card{
  position: relative;
  background-color: #ede3e3;
  background-image: url("./assets/FRANVILLE_Timeo.jpg");
  background-size: cover;
  top: 47%;
  height: 30vw;
  width: 30vw;
  transform: translate(0, -50%);
  transform-style: preserve-3d;
  overflow: hidden;
  margin-left: 5vw;
  font-size: 0;

  opacity: 0;
  margin-top: 5vh;
  transition: background 0.6s, opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

.card.visible{
  opacity: 1;
  margin-top: 0;
}


.Card-up,
.card:hover  .Card-down {
  position:relative;
  font-size: 1.8vw;
  text-align: center;
  text-overflow: clip;
  height: 52%;
  width: 100%;
  background-color: #0e0e0e;
  color: #ede3e3;
  transition: transform 0.6s ease;
}

.white-mode .Card-up, .white-mode .card:hover  .Card-down {
  color: #ddc4a4;
}

.card-up{
  transform:translateY(-150%);
}


.card:hover .Card-up{
  animation: CardUpAnimation 1s forwards ;
}
.card:not(:hover) .Card-up{
  opacity: 1;
  transform:translateY(-150%);
  transition:transform 110s ease;
}

.card:hover .Card-up h3{
  padding-top: 20%;
}

.card:hover  .Card-down{
  animation: CardDownAnimation 1s forwards ;
}
.card:hover  .Card-down h5{
  padding-top: 10%;
}

.ZoneText{
  position: relative;
  width: 55vw;
  height: 90%;
  /*border: 3px white inset;*/

  top: 3%;

  display: flex;
  flex-direction: column;
  column-count: 3;
  justify-content: center;
  align-items: center;
  gap: 1vh;

  opacity: 0;
  margin-top: 5vh;
  transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

.ZoneText.visible{
  opacity: 1;
  margin-top: 0;
}

.Text1{
  font:  5vw "Corinthia", serif;
  text-align: center;
  padding-left: 5%;
  padding-top: 2%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 13vw;
}
.ImageContainer1{
  position: relative;
  width: 25vw;
  height: 14vw;
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.Image1{
  position: absolute;
  width: 25vw;
  height: 14vw;
  background-color: #0e0e0e;
  background-image: url("./assets/Decouvrir.jpeg");
  background-size: cover;
  opacity: 1;
}

.Image1-Up{
  position: absolute;
  width: 25vw;
  height: 15vw;
  background: #0e0e0e;
  color: #ede3e3;
  font-size: 3vw;
  text-align: center;
  text-overflow: clip;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);

  animation: SlideUpAnimation 3s forwards infinite;
}

.white-mode .Image1-Up{
  color: #ddc4a4;
}


.ImageContainer1:hover .Image1-Up{
  animation: SlideUpHoverAnimation 0.6s forwards;
}

.Text2{
  font:  5vw "Corinthia", serif;
  text-align: center;
  padding-right: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 14vw;
}

.ImageContainer2{
  position: relative;
  width: 25vw;
  height: 14vw;
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);
}

.Image2{
  position: absolute;
  width: 25vw;
  height: 14vw;
  background-color: #ffffff;
  background-image: url("./assets/Creer.jpeg");
  background-size: cover;
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);
  opacity: 1;
}

.Image2-Up{
  position: absolute;
  width: 25vw;
  height: 15vw;
  background: #0e0e0e;
  color: #ede3e3;
  font-size: 3vw;

  text-overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);

  animation: SlideUpAnimation2 3s forwards infinite;
}

.white-mode .Image2-Up{
  color: #ddc4a4;
}


.ImageContainer2:hover .Image2-Up{
  animation: SlideUpHoverAnimation2 0.6s forwards;
}

.Text3{
  font:  5vw "Corinthia", serif;
  text-align: center;
  padding-left: 5%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 13vw;
}

.ImageContainer3{
  position: relative;
  width: 25vw;
  height: 14vw;
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.Image3{
  position: absolute;
  width: 25vw;
  height: 14vw;
  background-color: #ffffff;
  background-image: url("./assets/Partager.jpeg");
  background-position-x: 50%;
  background-size: 65%;

  display: flex;
  justify-content: center;
  align-items: center;

  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
  opacity: 1;

}

.Image3-Up{
  position: absolute;
  width: 25vw;
  height: 15vw;
  background: #0e0e0e;
  color: #ede3e3;
  font-size: 3vw;
  text-align: center;
  text-overflow: clip;
  transform: translateX(100%);

  animation: SlideUpAnimation 3s forwards infinite;
}

.white-mode .Image3-Up{
  color: #ddc4a4;
}


.ImageContainer3:hover .Image3-Up{
  animation: SlideUpHoverAnimation 0.6s forwards;
}


.Image1-Up p, .Image2-Up p, .Image3-Up p{
  margin-left: 3vw;
  margin-right: 3vw;
}

.ScrollingBar2 {
  position: absolute;
  height: 6vh;
  width: 100vw;
  background-color: #0e0e0e;
  color: #ede3e3;
  display: flex;
  justify-content: center;
  margin-top: 95vh;
}

.ScrollDown2{
  font-size: calc(2vh + 0.5vw);
  font-style: oblique;
  font-weight: bolder;
  position: relative;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scrollTextAnim 10s linear infinite;
}

.white-mode .ScrollingBar2{
  background-color: #ede3e3;
  color: black;
}


/*Compétences ----------------------------------------------------------------------------------------*/

.Compétences{
  position: relative;
  height: 100vh;
  width: 100vw;

  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 10vw;
}



.imageCompétences{
  position: relative;
  height: 95vh;
  width: 30vw;
  background-color: white;
  background-image: url("./assets/Competences.jpg");
  background-size: cover;
  background-position-x: 50%;
  margin-left: 7vw;
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);

  opacity: 0;
  margin-top: 10vh;
  transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

.imageCompétences.visible{
  opacity: 1;
  margin-top: 0;
}

.CVbutton{
  position: absolute;
  width: 6vw;
  height: 6vw;

  background-color: #ede3e3;
  border-radius: 100px;


  z-index: 1000;
  top: -5%;
  left: -5%;

  animation: CVbuttonAnim 2s ease-in-out infinite;
}

.CVbutton:hover{
  box-shadow: 0 0 15px #0e0e0e;
  cursor: pointer;
  height: 6vw;
  width: 6vw;
  transition: height 0.3s linear, width 0.3s linear,background-color 0.3s linear;
  animation: CVbuttonAnim 0.3s;
}

.CV-mode .CV-md{
  width: 100%;
  height: 100%;
  overflow: hidden;

  opacity: 0;
}

.CV-mode .CV{
  max-width: 34vw;
  max-height: 95vh;

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  @media (max-width: 480px) {
    img {
      width: 100%;
    }
  }

  z-index: 1;
  position: absolute;
  margin-top: 10vh;
  margin-left: 50%;
  translate: -50%;


  background-image: url("../public/CV.jpg");
  background-size: cover;
  border-radius: 1px;
  overflow: hidden;
  opacity: 0;
}

.CV-mode .CV.visible{
  opacity: 1;
  margin-top: 0;
  transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out
}

.CV-mode .CvbuttonOff{
  position: absolute;
  width: 70px;
  height: 70px;

  object-fit: cover;

  background-color: #191818;
  border-radius: 100px;


  z-index: 1000;
  top: -5%;
  left: -5%;

  animation: CVbuttonAnim 2s ease-in-out infinite;
}

.CV-mode .CvbuttonOff:hover{
  box-shadow: 0 0 15px #0e0e0e;
  cursor: pointer;
  height: 5.5vw;
  width: 5.5vw;

  object-fit: cover;

  transition: height 0.3s linear, width 0.3s linear,background-color 0.3s linear;

  animation: CVbuttonAnim 0.1s ease-in-out;
}

.CV-mode .DowloadButton{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-image: url("./assets/download-archive.png");

  background-size: cover;

  right: 10px;
  top: 5px;
}

.CV-mode .DowloadButton:hover{
 animation: LogoinAnim 0.3s ease;
}


.CV-mode .backgroundCV{
  position: absolute;
  width: 100%;
  height: 95%;
  background-color: #0e0e0e;
  opacity: 0.9;

  z-index: 1;

}


.TextCompétences{
  position: relative;
  height: 90%;
  width: 40vw;
  border: 5px solid #0e0e0e;
  border-radius: 1vw;

  transform: translateY(-53%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  background-color: #0e0e0e;

  color: #ede3e3;

  opacity: 0;
  margin-top: 55vh;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

.white-mode .TextCompétences{
  color: #ddc4a4;
  border: 5px solid #ede3e3;
}

.TextCompétences.visible{
  opacity: 1;
  margin-top: 50vh;
}

.TextCompétences p{
  font:  calc(6vh + 1vw) "Corinthia", serif;
  text-decoration: 1px #ddc4a4 underline;
}

.TextCompétences li{

  font-size: calc(0.5vh + 1.3vw);
  margin: 0 5vw;
}


.ScrollingBar3 {
  position: absolute;
  height: 6vh;
  width: 100vw;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  margin-top: 95vh;
  color: #ede3e3;
}

.ScrollDown3{
  font-size: calc(2vh + 0.5vw);
  font-style: oblique;
  font-weight: bolder;
  position: relative;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scrollTextAnim 10s linear infinite;
}

.white-mode .ScrollingBar3{
  background-color: #ede3e3;
  color: black;
}

/*Search ----------------------------------------------------------------------------------*/

.Search{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.SearchCadre1{
  position: absolute;
  width: 23vw;
  height: 70vh;
  border: 1vw solid;
  border-image: linear-gradient(0deg, cyan, lime) 1;
  animation: borderAnimation 10.5s linear infinite;


  margin-left: 5vw;
  transform: translateY(-50%);

  opacity: 0;
  margin-top: 50vh;
  transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

.SearchCadre1.visible{
  opacity: 1;
  margin-top: 45vh;
}

.SearchText1{
  position: relative;
  width: 35vw;
  height:30vh;
  background-color: #0e0e0e;
  border: 0.25vw solid;
  border-image: linear-gradient(75deg, cyan, lime) 1;
  animation: borderAnimation 10.3s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 35vh;
  margin-left: 3vw;
  transform: translateY(-50%);

  color: #ede3e3;
  text-align: justify;
  font-size: calc(0.5vh + 1.5vw);
  padding-left: 2vw;
  padding-right: 2vw;
}

.white-mode .SearchText1{
  color: #ddc4a4;
}

.SearchCadre2{
  position: absolute;
  width: 40vw;
  height: 20vh;
  border: 1vw solid;
  border-image: linear-gradient(50deg, cyan, lime) 1;
  animation: borderAnimation 10s linear infinite;

  margin-left: 55vw;
  transform: translateY(-50%);

  opacity: 0;
  margin-top: 25vh;
  transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}




.SearchCadre2.visible{
  opacity: 1;
  margin-top: 20vh;
}

.SearchText2{
  position: absolute;
  width: 30vw;
  height:30vh;
  background-color: #0e0e0e;
  border: 0.25vw solid;
  border-image: linear-gradient(25deg, cyan, lime) 1;
  animation: borderAnimation 9.5s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5vh;
  margin-left: 20vw;
  transform: translateX(-50%);

  color: #ede3e3;
  text-align: justify;
  font-size: calc(0.5vh + 1.5vw);
  padding: 1vw;
}

.white-mode .SearchText2{
  color: #ddc4a4;
}


.ScrollingBar4 {
  position: absolute;
  height: 6vh;
  width: 100vw;
  background-color: #0e0e0e;
  color: #ede3e3;
  display: flex;
  justify-content: center;
  margin-top: 95vh;
}

.ScrollDown4{
  font-size: calc(2vh + 0.5vw);
  font-style: oblique;
  font-weight: bolder;
  position: relative;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scrollTextAnim 10s linear infinite;
}

.white-mode .ScrollingBar4{
  background-color: #ede3e3;
  color: black;
}


/*Input and Contact ----------------------------------------------------------------------------------*/

.Input{
  position: relative;
  margin-top: 5vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  column-count: 2;
  justify-content: left;
  border: white solid 0;
  text-align: center;
  opacity:0;
  transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

.Input.visible{
  opacity: 1;
  margin-top: 0;
}

#Contact{
  position: relative;
  margin-left: 50vw;
  transform: translate(-50%, -2.5vw);
  font: 7vw "Corinthia", serif;
  color: #0e0e0e;
  text-shadow: 0 0 5px #ffffff;
  font-weight: bolder;
  transition: font-size 1s ease-in-out;
}

.white-mode #Contact{
  color: #ddc4a4;
  text-shadow: 0 0 5px #000000;
}

#Contact.visible{
  font-size: 8vw;
}


#Footer{
  position: relative;
  margin-bottom: 0.5vw;
  left: 1vw;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100vw;
  font: 1.5vw "Corinthia", serif;
  color: #0e0e0e;
}

.white-mode #Footer{
  color: #ddc4a4;
}

/*Text -------------------------------------------------------------------------------*/

a{
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:focus, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

.white-mode a{
  color: white;
}



h1 {
  text-decoration: none;
  /*display: inline-block;*/
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  bottom: 25%;
  left: 0;
  display: block;
  /*background: none repeat scroll 0 0 transparent;*/
  box-shadow: 0 0 10px #ffffff;
  height: 0.05vw;
  width: 0;
  background: none;
  border: 0 solid #000000;
  transition: width 1s ease-in-out 0s, height 1s ease-in-out;
}

h1.visible::after {
  width: 105%;
  border-bottom: 3px solid #000000;
}

.white-mode h1 {
  text-decoration: none;
  /*display: inline-block;*/
  position: relative;
}

.white-mode h1::after {
  content: "";
  position: absolute;
  bottom: 25%;
  left: 0;
  display: block;
  /*background: none repeat scroll 0 0 transparent;*/
  box-shadow: 0 0 25px #000000;
  height: 0.05vw;
  width: 0;
  background: none;
  border: 0 solid #ffffff;
  transition: width 1s ease-in-out 0s, height 1s ease-in-out;
}
.white-mode h1.visible::after {
  width: 105%;
  border-bottom: 3px solid #ffffff;
}


h2 {
  text-decoration: none;
  /*display: inline-block;*/
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  bottom: 25%;
  left: 0;
  display: block;
  /*background: none repeat scroll 0 0 transparent;*/
  box-shadow: 0 0 10px #ffffff;
  height: 0.05vw;
  width: 0;
  background: none;
  border: 0 solid #000000;
  transition: width 1s ease-in-out 0s, height 1s ease-in-out;
}
h2.visible::after {
  width: 110%;
  border-bottom: 5px solid #000000;
}

.white-mode h2 {
  text-decoration: none;
  /*display: inline-block;*/
  position: relative;
}

.white-mode h2::after {
  content: "";
  position: absolute;
  bottom: 25%;
  left: 0;
  display: block;
  /*background: none repeat scroll 0 0 transparent;*/
  box-shadow: 0 0 25px #000000;
  height: 0.05vw;
  width: 0;
  background: none;
  border: 0 solid #ffffff;
  transition: width 1s ease-in-out 0s, height 1s ease-in-out;
}
.white-mode h2.visible::after {
  width: 110%;
  border-bottom: 5px solid #ffffff;
}




/*Key Frames-----------------------------------------------------------------------------------*/

@keyframes title{
  0%{
    text-shadow: 0 0 5px #ffffff;
  }
  25%{
    text-shadow: 0 0 8px #ffffff;
  }
  50%{
    text-shadow: 0 0 35px #ffffff;
  }
  75%{
    text-shadow: 0 0 8px #ffffff;
  }
  100%{
    text-shadow: 0 0 5px #ffffff;
  }
}

@keyframes titleWhitemode{
  0%{
    text-shadow: 0 0 15px #000000;
  }
  25%{
    text-shadow: 0 0 19px #000000;
  }
  50%{
    text-shadow: 0 0 35px #000000;
  }
  75%{
    text-shadow: 0 0 19px #000000;
  }
  100%{
    text-shadow: 0 0 15px #000000;
  }
}


@keyframes ScrolingBarAnimation{
  0%{
    transform: translate(-40%,7.5vw);
  }
  25%{
    transform: translate(-40%,-50%);
  }
  100%{
    transform: translate(-40%,7.5vw);
  }
}
@keyframes scrollTextAnim{
  from{
    transform: translatex(-57%);
  }
  to{
    transform: translatex(57%);
  }
}

@keyframes CardUpAnimation{
  from{
    transform:translateY(-150%);
  }
  to{
    transform:translateY(-16%);
  }
}

@keyframes CardDownAnimation{
  from{
    transform:translateY(100%);
  }
  to{
    transform:translateY(-35%);
  }
}

@keyframes SlideUpAnimation {
  0%{
    transform:translateX(100%);
  }
  50%{
    transform:translateX(90%);
  }
  100%{
    transform:translateX(100%);
  }
}

@keyframes SlideUpHoverAnimation {
  0%{
    transform:translateX(100%);
  }
  100%{
    transform:translateX(0%);
  }
}

@keyframes SlideUpAnimation2 {
  0%{
    transform:translateX(-100%);
  }
  50%{
    transform:translateX(-90%);
  }
  100%{
    transform:translateX(-100%);
  }
}

@keyframes SlideUpHoverAnimation2 {
  0%{
    transform:translateX(-100%);
  }
  100%{
    transform:translateX(0%);
  }
}

@keyframes LogoinAnim {
  0%{
    transform: rotate(-10deg);
  }
  50%{
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes CVbuttonAnim {
  0%{
    height: 5.5vw;
    width: 5.5vw;
  }
  50%{
    height: 6vw;
    width: 6vw;
  }
  100%{
    height: 5.5vw;
    width: 5.5vw;
  }
}

@keyframes borderAnimation {
  0% {
    border-image-source: linear-gradient(0deg, cyan, lime);
  }
  25% {
    border-image-source: linear-gradient(90deg, cyan, lime);
  }
  50% {
    border-image-source: linear-gradient(180deg, cyan, lime);
  }
  75% {
    border-image-source: linear-gradient(270deg, cyan, lime);
  }
  100% {
    border-image-source: linear-gradient(360deg, cyan, lime);
  }
}




